img {
  max-width: 100%;
}

html{
  line-height=0;
}
/*Container Header*/

header{
  padding: 0;
  margin: 0;
}
.container-header{
  background-color: black;
  max-width: 1140px;
  margin: 0;
}

.site-logo{
  width: 170px;
  height: 40px;
  display: block;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
}

.navigation-bar{
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation-about{
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 10px 10px;
  margin: 0;

}

.navigation-about-link{
  text-decoration: none;
  color: white;
}

.navigation-rentals{
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 10px 10px;
  margin: 0;

}

.navigation-rentals-link{
  text-decoration: none;
  color: white;
}

.navigation-location{
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 10px 10px;
  margin: 0;

}

.navigation-location-link{
  text-decoration: none;
  color: white;
}

/*Container Banner*/

.container-banner{
  max-width: 860px;
  height: 320px;
  margin: 0 auto;
  text-align: center;
  background-image: url("images/kayak-bkgd.jpg") ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.container-banner-enjoyThe{
  color: white;
  margin:0;
  padding: 45px 5px 5px 5px;
  font-size: 10px
}

.container-banner-greatOutdoors, .container-banner-fromTheWater{
  color: white;
  margin:0;
  padding: 5px;
  font-size: 35px;
}

.container-banner-explanation{
  display: table;
  Background-color: RGBA(0,0,0, .6);
  border-bottom: 100px;
  padding: 7px;
  margin: 10px 50px 25px 50px;

}
.container-banner-explanation-text{
  color: white;
  font-style: bold;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.sign-up-button{
  border-radius: 50px;
  text-decoration: none;
  padding: 11px;
  background-color: #E2574C;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  display: block;
  margin: 0 auto 50px auto;
}

.sign-up-button-link{
  text-decoration: none;
}
/*Container About*/

.container-about{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}

.container-about-title{
  color: #646464;
  font-family: cursive;
}
/*Container Rentals*/

.container-Rentals{
  max-width: 1140px;
  margin: 0 auto;

}

.container-rentals-title{
  color: #646464;
  text-align: center;
  font-family: cursive;
}

table{
  border-collapse: collapse;
}

table, .tableHead, .tableData1, .tableData2, .tableData3 {
  border:1px solid black;
}

.tableHead{
  background-color: #E6E6E6;
  padding: 10px 20px;
  font-size: 14px;
}

.tableData2, .tableData3{
  text-align: center;
  padding: 5px;
}

.tableData1{
  padding-left: 5px;
  text-align: left;
}
/*Container Location*/

.container-location{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}

.container-location-title{
  color: #646464;
  text-align: center;
  font-family: cursive;
}

/*Container Map*/

.container-map{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}

/*Container Footer*/

.container-footer{
  background-color: #242424;
}

.container-footer-copyright, .container-footer-address{
  text-align: center;
  color: white;
}

.container-footer-copyright:first-child{
  padding-top: 10px;
}

.container-footer-contactInfo{
  display: inline-block;
  margin: 0 auto 0 auto;
  color: white;
}

.container-footer-allLinks{
  text-align: center;
  padding: 0;
  margin: 0;
}

.container-footer-link{
  display: inline-block;
  text-decoration: none;
  color: white;

}
/*tablet*/
@media(min-width: 600px){
  img{
    width: 50%;
  }
}

/*desktop*/
@media(min-width: 1100px){
  img{
    width: 40%;
  }
}
